<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<!-- Uncomment this to send parameters from testng.xml <parameter name="email" 
			value='' /> <parameter name="password" value='' /> -->
		<classes>
			<class
				name="test.atlassian.confluence.ConfluenceRestrictionsTest />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->


<!-- sample of group run <groups> <run> <include name='critical'/> </run> 
	</groups> -->
  

